* {
    margin: 0px;
    padding: 0px;
    /* outline: 1px dotted red; */
}

body {
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
}

.nav {
    margin: 0 auto;
    width: 900px;
    height: 80px;
    background-color: #6494EC;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

img {
    height: 50px;
    width: 60px;
    margin: 12px;
}

a {
    text-decoration: none;
    color: #FFF;
}

ul {
    display: flex;
    flex: 10;
    justify-content: space-evenly;
    font-size: 14px;
}

li {
    list-style-type: none;
}

h1 {
    font-size: 16px;
    flex: 3;
    padding-left: 30px;
}